@charset "UTF-8";
*{margin: 0px; padding: 0px; list-style: none; box-sizing: border-box;}
::-webkit-input-placeholder {
	color:white;
    font-size: 8px;
    text-indent: 10px;
}
::-ms-input-placeholder{
	color: white;
    font-size: 8px;
    text-indent: 10px;
}
::placeholder {
    color: white;
    font-size: 8px;
    text-indent: 10px;
}
a{
	text-decoration: none;
	font-weight: bold;
}
#container{
	width: 960px;
	height: auto;
	margin: 0px auto;
	padding-top: 50px;
}
#header{
	overflow:hidden;
	width: 960px;
	height: 64px;
}
#logo{
	float:left;
	text-indent: -9999px;
	background-image: url("../images/mainPage/kyungDong_logo.png");
	background-repeat: no-repeat;
	width: 230px;
	height: 60px;
	margin-top: 2px;
}
#header_right{
	float: right;
	width:730px;
	height: 64px;
}
#login_container{
	float:left;
	margin-left:60px;
	width: auto;
	height: 24px;
	font-size: 10px;
}
.login_list{
	line-height: 24px;
}
.login_list a{
	color: #a9a9a9;
}
.login_list li{
	float:left;
	width: auto;
	height: 24px;
	padding-right: 5px;
}
.login_list > .login{
	background:url("../images/mainPage/top_public_login.png") no-repeat left;
	padding: 0px 10px 0px 15px;
	line-height: 20px;
}
.login_list > .orange_dot{
	background:url("../images/mainPage/top_public_dot.png") no-repeat left;
	padding: 0px 10px 0px 15px;
	line-height: 20px;
}
.login_list > .partner{
	background:url("../images/mainPage/top_public_partner.png") no-repeat left;
	padding: 0px 10px 0px 20px;
	line-height: 20px;
}
.login_list > .language{
	background:url("../images/mainPage/top_public_language.png") no-repeat left;
	padding: 0px 10px 0px 20px;
	line-height: 20px;
}
#recruit_container{
	float: right;
	width: auto;
	height: 24px;
	margin-left:10px;
	font-size: 12px;
}
.recruit_list{
	line-height: 24px;
}
.recruit_list a{
	color: orange;
}
.recruit_list li{
	float: left;
	height: 24px;
	margin-left: 10px;
}
.recruit_list li:first-child {
	border: 1px solid #d4d4d4;
	padding-left: 5px;
	padding-right: 7px; 
	border-radius: 3px;
	color: #f97b0b;
	line-height: 20px;
}
.recruit_list img{
	margin-left: 10px;
	vertical-align: middle;
}
.recruit_list select{
	height: 25px;
	border-radius: 3px;
}
#menu_container{
	clear: both;
	margin-top: 40px;
	width: auto;	
}
.menu_list li{
	float:left;
	width: auto;;
}
.menu_list li:nth-child(2n){
	color: #dbdbdb;
}
.menu_list h3{
	color: #303030;
	padding: 0px 20px 0px 20px;
}
#search_container{
	float: right;
	height: 24px;
	background: #f97b0b;
}
#search_container input{
	width: 190px;
	height: 24px;
	background: #f97b0b;
	border-style: none;
	vertical-align: middle;
}
#search_container img{
	margin-right: 5px;
	vertical-align: middle;
}
/* 이하 콘텐츠 영역  */
#content{
	overflow: hidden;
	width: 960px;
	height: auto;	
	margin-top: 45px;
}
#site_path_container{
	overflow: hidden;
	width: 960px;
	height: 30px;
	padding-bottom: 40px;
	margin-bottom:50px;
	border-bottom: 1px solid #969696;
}
.site_path_list{
	float: left;
	width: 960px;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #696969;
}
.site_path_list li{
	float: left;
	width: auto;
	margin-right:10px;
}
#joinPage_container{
	width: 960px;
	height: auto;
	overflow: hidden;
}
#headerText_container{
	width: 960px;
	height: auto;
}
#headerText_container h1{
	float: left;
	margin: 0px 10px 20px 0px;
	color: #696969;
}
#headerText_container h6{
	padding-top: 25px;
	color: #696969;
}
#process_container{
	width: 960px;
	height: 120px;
	overflow:hidden;
	margin-top: 30px;
	padding: 20px 0px 20px 0px;
	border: 1px solid #969696;
	background: #f5f5f5;
}
.step_on{
	color: #f97b0b;
}
.step_off{
	color:#969696;
}
.process_list{
	width: 720px;
	height: 80px;
}
.process_list li{
	float: left;
	width: auto;
	height: 80px;
	margin-right: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #969696;
}
.process_list li:first-child{
	padding-top: 20px;
}
.process_list li:nth-child(1n+2){
	line-height: 80px;
}
.process_list li:nth-child(2n){
	font-size: 25px;
}
.process_list li > img{
	vertical-align: middle;
}
.process_list li > div{
	float: right;
	width: 120px;
	height: 80px;
	margin-left: 15px;
}
#input_container{
	width: 960px;
	height: auto;
	margin-top: 50px;
	color: #696969;
}
#input_container > .title_box {
	width: 960px;
	height: 30px;
	overflow:hidden;
}
#input_container > .title_box span:first-child{
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height:30px;
}
#input_container > .title_box span:nth-child(2){
	float:right;
	font-size: 10px;
	line-height: 30px;
}
#table_container{
	width: 960px;
	height: auto;
	border-top: 2px solid #696969;
	overflow: hidden;
	margin-top: 5px;
}
.col_rgbf5f5f5{
	line-height: 50px;
	padding-left: 15px;
	background: #f5f5f5;
	font-weight: bold;
	font-size: 12px;
	color: #434343;
}
.col_rgbf5f5f5 > img{
	margin-bottom: 5px;
}
.col_rgbfff{
	line-height: 50px;
	padding-left: 15px;
	font-size: 13px;
}
.table_body li {
	width: 960px;
	height: auto;
}
.table_body li > .row_1 li{
	float: left;
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_2 li:first-child{
	float: left;
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_2 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_3 li:first-child{
	float: left;
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_3 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_4 li:first-child{
	float: left;
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_4 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_5 li:first-child{
	float: left;
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_5 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_5 li:nth-child(1n+2) select{
	width: 80px;
	height: 25px;
	padding-left: 5px;
}
.table_body li > .row_6 li:first-child{
	float: left;
	width: 240px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_6 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 50px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_6 li:nth-child(1n+2) select{
	width: 80px;
	height: 25px;
	padding-left: 5px;
}
.table_body li > .row_7 li:first-child{
	float: left;
	width: 240px;
	height: 80px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_7 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 80px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_7 li:nth-child(1n+2) div{
	width: 720px;
	height: 80px;
	line-height: 40px;
}
.table_body li > .row_7 li:nth-child(1n+2) input:nth-child(1)[type=text]{
	width: 80px;
	height: 25px;
}
.table_body li > .row_7 li:nth-child(1n+2) input:nth-child(2)[type=text]{
	width: 80px;
	height: 25px;
}
.table_body li > .row_7 li:nth-child(1n+2) button[type=button]{
	width: 100px;
	height: 25px;
	background: #808080;
	border-radius: 2px;
	border:1px solid #8d8d8d;
	text-align: center;
	font-weight: bold;
	color: white;
	line-height: 20px;
}
.table_body li > .row_7 li:nth-child(1n+2) input:nth-child(5)[type=text]{
	width: 330px;
	height: 25px;
}
.table_body li > .row_7 li:nth-child(1n+2) input:nth-child(6)[type=text]{
	width: 330px;
	height: 25px;
}
.table_body li > .row_8 li:first-child{
	float: left;
	width: 240px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_8 li:nth-child(1n+2){
	float: left;
	width: 720px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_9 li:first-child{
	float: left;
	width: 240px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_9 li:nth-child(1n+2){
	float: left;
	width: 720px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_9 li:nth-child(1n+2) select{
	width: 80px;
	height: 25px;
	padding-left: 5px;
}
.table_body li > .row_10 li:first-child{
	float: left;
	width: 240px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_10 li:nth-child(1n+2){
	float: left;
	width: 720px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_10 li:nth-child(1n+2) input[type=text]{
	width: 400px;
	margin-right: 10px;
}
.table_body li > .row_11 li:first-child{
	float: left;
	width: 240px;
	height: 110px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_11 li:nth-child(1n+2){
	float: left;
	width: 720px;
	height: 110px;
	border-bottom: 1px solid #969696;
}
.table_body li > .row_11 li:nth-child(1n+2) div > label{
	margin-right: 10px;
	padding-left: 10px;
}
.table_body li > .row_11 li:nth-child(1n+2) > div:nth-child(2) p:first-child{
	padding-left: 10px;
	background: url("../images/joinPage/green_dot.png") no-repeat left;
	line-height: 22px;
}
.table_body li > .row_11 li:nth-child(1n+2) > div:nth-child(2) p:nth-child(2){
	padding-left: 10px;
	background: url("../images/joinPage/green_dot.png") no-repeat left;
	line-height: 22px;
}
#btn_container{
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 150px;
	width: 170px;
	height: auto;
}
#btn_container button:first-child {
	float: left;
	width: 80px;
	height: 40px;
	border: 1px solid #888;
	background: #f1f1f1;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #454545;
}
#btn_container button:nth-child(2){
	float:right;
	width: 80px;
	height: 40px;
	border: 1px solid #f07606;
	background: #f97b0b;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
}
/* 메일링 수신여부 라디오 버튼 css --> */
/* 라디오 버튼이 묻여 있는 container  */
.radioBtn {
    display:  inline;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* 기본 라디오버튼을 숨겨놓음 */
.radioBtn input{
	postion: absolute;
	opacity: 0px;
	cursor: pointer;
	width: 0px;
	height: 0px;
}
/* custom 버튼을 새롭게 만듦 */
.checkmark{ 
	position: absolute;
	display: block;
	top:3px;
	left: 0px;
	width: 12px;
	height: 12px;
	border: 2px solid #d0d0d0;
	background: #fff;
	border-radius: 50%;
	z-index: 9999;
}
/* 마우스 오버시 배경색을 설정 */
.radioBtn:hover input ~ .checkmark{
	background: #eee;	
}
/* 선택된 라디오 버튼의 배경색을 설정 */
.radioBtn input:checked ~ .checkmark {
	background: #f97b0b;
}
/* 새롭게 추가된 버튼이 선택되지 않은 경우 */
.checkmark:after{
	content: "";
	position: absolute;
	display: none;
}
/* 새롭게 추가된 버튼이 선택된 경우 */
.checkmark input:checked ~ .checkmark::after{
	display: block;
}
/* <-- 메일링 수신여부 cols 라디오 버튼 css */
input[type=text]{
	width: 120px;
	height: 25px; 
}
input[type=password]{
	width: 120px;
	height: 25px;
}
.col_rgbfff select{
	background: url("../images/joinPage/triangle_bottom.png") no-repeat 90% 50%;
	-webkit-appearance: none;
}
/* 이하 푸터 영역 */
#footer{
	width: 960px;
	height: auto;
	margin: 0px auto;
}
#footer_top_container{
	width: 960px;
	height: 60px;
	background: #eee;
	border-top: 1px solid #b7b7b7;
	border-bottom: 5px solid #7b7b7b;
	overflow: hidden;
}
.global_network_list{
	line-height: 60px;
}
.global_network_list a{
	color: #4c4c4c;
}
.global_network_list li{
	float: left;
	font-size: 10px;
	padding-left: 10px;
	color: #b5b5b5;
}
.sns_list{
	line-height: 60px;
	margin-left: 30px;
}
.sns_list li:first-child{
	margin-left: 50px;
}
.sns_list li{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
#family_container{
	float: right;
	line-height: 60px;
	margin-right: 20px;
}
#family_container select{
	width: 130px;
}
#footer_bottom{
	overflow:hidden;
	width: 960px;
	height: auto;
	padding-top: 20px;
}
#footer_bottom_left{
	float: left;
	display:block;
	width: 880px;
	height: auto;
}
.bottom_icon_list{
	width: auto;
	height: 40px;
	margin-bottom: 20px;
}
.bottom_icon_list li{
	float:left;
	width:auto;
	height:40px;
}
.bottom_icon_list li:nth-child(2n){
	width:75px;
	padding-left: 10px;
	font-size: 7px;
}
.bottom_icon_list li:nth-child(13){
	padding-left: 25px;
}
#footer_bottom_logo{
	float:left;
	width:151px;
	height:30px;
	background-image: url("../images/mainPage/footer_logo.png");
	background-repeat:no-repeat;
	background-position:center;
	margin-right: 20px;
}
.addr_top_list {
	float:left;
	width: auto;
}
.addr_top_list li{
	float: left;
	font-size: 7px;
}
.addr_top_list li:nth-child(2n){
	padding: 0px 10px 0px 10px;
}
.addr_bottom_list {
	float:left;
	width: auto;
}
.addr_bottom_list li{
	float: left;
	font-size: 7px;
}
.addr_bottom_list li:nth-child(2n){
	padding: 0px 10px 0px 10px;
}
#qr_code{
	float: right;
	width: 76px;
	height: 74px;
	display: block;
	background-image: url("../images/mainPage/footer_qrcode.png");
}
