@charset "UTF-8";
*{margin: 0px; padding: 0px; list-style: none; box-sizing: border-box;}
a{
	text-decoration: none;
	font-weight: bold;
}
#content{
	overflow:hidden;
	margin: 0px auto;
	width: 960px;
	height: auto;
}
#product_container{
	overflow:hidden;
	margin-top: 30px;
	width: 960px;
	height: auto;;	
}
#product_viewer{
	width: 960px;
	height: 160px;
}
.view_list{
	width: 960px;
/* 	line-height: 160px; */	
}
.view_list li{
	float: left;
	width:auto;
	height: 160px;
}
.view_list li:nth-child(2) {
	width: 275px;
	height: 160px;
}
.view_list li:nth-child(2) img:nth-child(2){
	margin-top:-4px;
}
.product_list{
	overflow:hidden;
	width: 960px;
	height: 55px;
	display:block;
	background: #363535;
	color: white;
}
.product_list li{
	float:left;
	line-height: 50px;
	padding-top:2px;
	width: 120px;
	text-align: center;
}
.product_list li a{
	color: white;
	display: block;
	text-align: center;
}
.product_list li a:hover{
	background: white;
	display: block;
	color: #f97b0b;
	border-radius: 3px;
}
.product_list li:first-child {
	width: 230px;
}
#service_container{
	overflow: hidden;
	display: block;
	width: 960px;
	height: auto;
}
#service_container > .service_list li h3{	
	margin-bottom: 10px;
	color: #3e3e3e;
}
#service_container > .service_list li h6{
	margin-bottom: 10px;
	color: #575757;
}
#service_container > .service_list li p.btn_style{
	border: 1px solid #888;
	border-radius: 3px;
	background: #f9f9f9;
	width: 88px;
	height: 53px;
	float: left;
	font-size: xx-small;
	margin-right: 4px;
	line-height: 53px;
	text-align: center;
}
#service_container > .service_list li p.dark_btn_bg{
	border: 1px solid #888;
	border-radius: 3px;
	background: #292929;
	width: 88px;
	height: 53px;
	float: left;
	font-size: xx-small;
	margin-right: 4px;
	line-height: 53px;
	text-align: center;
}
.service_list{
	width: 960px;
}
/* 1row */
.service_list li:nth-child(1){
	width: 960px;
	height: 240px;
	border-bottom:1px solid #e7e7e7;
	padding-top: 40px;
}
.service_list_row_1_col_1{
	float:left;
	background-image: url("/201810/KyungDong/images/mainPage/middle_img_icon_40.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 290px;
	height: 160px;
	margin-right: 30px;
}
.service_list_row_1_col_1 p{
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.service_list_row_1_col_2{
	float: left;	
	background-image: url("/201810/KyungDong/images/mainPage/middle_img_icon_43.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 290px;
	height: 160px;
	margin-right: 30px;
}
.service_list_row_1_col_2 p{
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.service_list_row_1_col_3{
	float: left;	
	background-image: url("/201810/KyungDong/images/mainPage/middle_img_icon_46.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 300px;
	height: 160px;
	margin-right: 20px;
}
.service_list_row_1_col_3 p{
	font-size: small;
	line-height: 30px;
}
.service_list_row_1_col_3 > .green_dot{
	background-image: url("/201810/KyungDong/images/mainPage/green_dot.png");	
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}
/* 2row  */
.service_list li:nth-child(2) {
	width: 960px;
	height: 240px;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 40px;
}
.service_list_row_2_col_1{
	float: left;
	background-image: url("/201810/KyungDong/images/mainPage/middle_img_icon_62.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 290px;
	height: 160px;
	margin-right: 30px;
}
.service_list_row_2_col_1 p{
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;	
}
.service_list_row_2_col_2{
	float: left;	
	background-image: url("/201810/KyungDong/images/mainPage/middle_img_icon_60.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 290px;
	height: 160px;
	margin-right: 30px;
}
.service_list_row_2_col_2 p{
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.service_list_row_2_col_3{
	float: left;	
	background-image: url("/201810/KyungDong/images/mainPage/middle_img_icon_64.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 300px;
	height: 160px;
	margin-right: 20px;
}
.service_list_row_2_col_3 p{
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
}
.service_list li:nth-child(3) {
	width: 960px;
	height: 240px;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 40px;
}
.service_list_row_3_col_1{
	float: left;
	width: 290px;
	height: 160px;
	margin-right: 30px;
}
.service_list_row_3_col_2{
	float: left;
	width: 290px;
	height: 160px;
	margin-right: 30px;
}
.on_star{
	width:14px;
	height:12px;
	background-image: url("/201810/KyungDong/images/mainPage/start_icon_on.png");
	background-repeat: no-repeat;
	background-position: center;
}
.off_star{
	width:14px;
	height:12px;
	background-image: url("/201810/KyungDong/images/mainPage/start_icon_off.png");
	background-repeat: no-repeat;
	background-position: center;
}
.service_list_row_3_col_2 > .star_group_list{
	float:left;
	width: 75px;
	height:12px;
	margin-top: 10px;
}
.service_list_row_3_col_2 > .star_group_list li{
	float: left;
	width:14px;
	height:12px;
	padding:0px;
}
.service_list_row_3_col_2 > .review_writer_style{
	float: left;
	margin: 7px 0px 0px 5px;
}
.service_list_row_3_col_2 > .review_coment{
	clear: both;
	border: 1px solid red;
}








.service_list_row_3_col_3{
	float: left;
	width: 300px;
	height: 160px;
}
.as_text_color{color: #f97b0b;}
.more_vertical_align{vertical-align: middle;}
.text_gold_color{color: #b8860b;}
.text_white_color{color:#fff;}
.text_yellow_color{color:yellow;}
.review_writer_style{color: #37a3b6; font-size: 14px; font-weight: bold;}