@charset "UTF-8";
*{
	list-style: none;
	box-sizing: border-box;
	margin: 0; padding: 0;
}
html{
	width: 100%;
	overflow: hidden;
}
body{
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	color: #fff;
}
a{
	text-decoration: none;
	color: inherit;
}

/* 로고 영역 */
@keyframes scale{
	0% {transform:scale(0);}
	100% {transform:scale(1);}	
}
.logo{
	position: fixed;
	bottom: 50px;
	left: 50px;
	
	transition: all 1s;
	animation: scale 1s;
	-webkit-animation: scale 1s;
	-moz-animation: scale 1s;
	-ms-animation: scale 1s;
	-o-animation: scale 1s;
}
.logo img{
	width: 200px;
	height: auto;
}

/* 메뉴 영역 */
#floating_wrap{
	position: fixed;
	top: 0px; left: 0px; 
	width: 150px;
	overflow: hidden;
}
.menu_btn img{
	width: 50px; 
	height: 50px; 
	margin-left: 100px;
	transition: all 1s;
}
.login_list{
	overflow: hidden;
	width: 100%;
	margin-top: 1vw;
	transition: all 1s;
}
.login_list>li:hover{
	background: rgba(0,0,0,0.5);
	text-decoration: overline;
}
.menu_list{
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
}
.menu_list>li{
	width: 100%;
	display: inline-block;
	padding: 10px;
	border-top: 1px solid #444;
	transition:all .5s;
}
.menu_list>li:hover{
	background:rgba(0,0,0,0.5);
	border-top: 1px solid #fff;
}
.menu_list>li.on{
	font-size:14px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	border-top: 2px solid #ff0;
}

/* 세션 영역 */
section{
	overflow: hidden;
	width: 100%;
	transition: all 1s;
}
section:nth-child(1) {
	background: url("../imgs/bg00.jpg") no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}
section:nth-child(2) {
	background: url("../imgs/bg01.jpg") no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}
section:nth-child(3) {
	background: url("../imgs/bg02.jpg") no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}
section:nth-child(4) {
	background: url("../imgs/bg03.jpg") no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}
section:nth-child(5) {
	background: url("../imgs/bg04.jpg") no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}
section:nth-child(6) {
	background: url("../imgs/bg00.jpg") no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}
article{
	float: right;
	width: 85%;
	height: 100%;
	overflow: hiddenl
}
.clip_top{
	width: 100%;
	padding: 1vw 0;
	transition: all 1s;
}
.top_title{
	font-size:1vw;
	transition:all 1s;
}
.title_point{
	background: rgba(255,255,255,0.7);
	color: #000;
	text-decoration: underline;
}
.clip{
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
}
.main_wrap{
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 2vw 0;
	margin: 1vw 0;
	background: rgba(0,0,0,0.5);
	transition:all 1s;
}
.main_slide{
	position: relative;
	width: 1280px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}
.slide{
	position: absolute;
	top: 0; left: 0;
	z-index: 9995;
}
.slide>li{
	float: left;
}
.slide_cmt{
	position: absolute;
	height: 100%;
	padding: 1vw 0;
	line-height: 300%;
	font-size: 1vw;
	font-weight: bold;
	background: rgba(255,255,255,0.5);
	color: #000;
	transition: all 1s;
}
.bottom_wrap{
	overflow: hidden;
	width: 80%;
	margin: 1vw auto;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.responsive_zone{
	width: 49%;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
	margin-top: 2vw;
	transition:all 1s;
}
.head_wrap{
	overflow: hidden;
	width: 100%;
	padding: 1vw 0;
	transition: all 1s;
}
.w_80{
	width: 80%;
}
.w_100{
	width: 100%;
}
.head_bbs{
	float: left;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	font-size: 2vw;
	transition: all 1s;
}
.head_wrap a{
	line-height: 300%;
}
.head_wrap a:hover{
	text-decoration: underline;
	background: rgba(0,0,0,0.5);
}
.response_list{
	width: 100%;
	clear: both;
	margin-top: 1vw;
	transition: all 1s;
}
.response_list>li{
	width: 100%;
	display: inline-block;
	padding: 10px;
	border-top: 1px solid #000;
	transition: all .5s;
}
.response_list>li:hover{
	background: rgba(0,0,0,0.5);
	border-top: 2px solid #ff0;
}
.photo_list{
	width: 100%;
	clear: both;
	margin-top: 1vw;
	transition: all 1s;
}
.photo_list>li{
	width: 20%;
	float: left;
	border: 1px solid #fff;
	border-radius: 40%;
	overflow: hidden;
	transition: all .5s;
	opacity: 0.6;
}
.photo_list>li:hover{
	border: 1px solid #ff0;
	opacity: 1;
}
.photo_list>li img{
	width: 100%;
	height: auto;
}
.responsive_bbs{
	width: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
	transition: all 1s;
}
.responsive_bbs hr{
	margin:  5% 0;
	transition: all 1s;
}
.responsive_bbs buttom{
	width: 100%;
	padding: 15px;
}

/* 이미지 모달 영역 */
.modal{
	display: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: rgba(0,0,0,0.8);
	color: #fff;
	
	transition: all 1s;
	animation: scale 1s;
	-webkit-animation: scale 1s;
	-moz-animation: scale 1s;
	-ms-animation: scale 1s;
	-o-animation: scale 1s;
}
.modal_contents{
	display: block;
	width: 70%;
	height: 50%;
	margin: 5% auto;
}
.modal_caption{
	display: block;
	width: 70%;
	margin: 5% auto;
	text-align: center;
	font-weight: bold;
}
.close{
	width: 100%;
	padding: 15px;
}

/* form 영역 */
form{
	overflow: hidden;
	width: 70%;
	margin: 5% auto;
	color: #000;
	font-size: 14px;
	
	transition: all 1s;
	animation: scale 1s;
	-webkit-animation: scale 1s;
	-moz-animation: scale 1s;
	-ms-animation: scale 1s;
	-o-animation: scale 1s;	
}
form .title{
	text-align: center;
}
form hr{
	margin: 5% 0;
}
form input, textarea{
	width: 100%;
	margin: 10px 0;
	padding: 10px;
}
form button {
	width: 50%;
	float: left;
	padding: 15px;
}