@charset "UTF-8";

*{margin: 0px; padding: 0px; list-style: none; box-sizing: border-box;margin: 0px auto;color: #454545;}
a{text-decoration: none; font-weight: bold;}

/* mall 공통 checkbox / radio */
input[type=checkbox]:not(old){
	opacity:0;
	background:url(../../images/mallPage/checkbox_in_checked.png) no-repeat 0 0;
	width: 0;
}
input[type=checkbox]:not(old) + label {
	display: block;
	text-align: left; 
/* 	height: 20px;  */
	padding-left: 18px;
	background: url("../../images/mallPage/checkbox.png") no-repeat 0 0;
/* 	line-height: 130%; */ 
	vertical-align: center;
}
input[type=checkbox]:not(old):checked + label {
	background: url("../../images/mallPage/checkbox_in_checked.png") no-repeat 0 0;
}

input[type=radio]:not(old){
	opacity:0;
	background:url(../../images/mallPage/radiobutton_on.png) no-repeat 0 0;
	width: 0;
}
input[type=radio]:not(old) + label {
	display: block;
	text-align: left; 
	height: 20px; 
	padding-left: 18px;
	background: url("../../images/mallPage/radiobutton_off.png") no-repeat 0 0;
	line-height: 130%; 
	vertical-align: center;
}
input[type=radio]:not(old):checked + label {
	background: url("../../images/mallPage/radiobutton_on.png") no-repeat 0 0;
}
/* mall 공통 checkbox / radio 끝 */
#content{
	overflow: hidden;
	width: 960px;
	height: auto;	
	margin-top: 45px;
}
#content{
	overflow: hidden;
	width: 960px;
	height: auto;	
	margin-top: 45px;
}
#site_path_container{
	overflow: hidden;
	width: 960px;
	height: 30px;
	padding-bottom: 40px;
	margin-bottom:50px;
	border-bottom: 1px solid #969696;
}
.site_path_list{
	float: left;
	width: 960px;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #696969;
}
.site_path_list li{
	float: left;
	width: auto;
	margin-right:10px;
}
#product_intro_container{
	width: 960px;
	height: auto;
	overflow: hidden;
}
#headerText_container{
	width: 960px;
	height: auto;
}
#headerText_container h1{
	float: left;
	margin: 0px 10px 20px 0px;
	color: #696969;
}
#headerText_container h6{
	padding-top: 25px;
	color: #696969;
}
#intro_img{
	width: 960px;
	height: 387px;
}
#selection_container{
	width: 960px;
	height: 54px;
	background: #a29f9b;
}
.select_list{
	width:auto;
	height: 54px;
	margin-left: 50px;
}
.select_list li{
	float: left;
	width: 160px;
	height:27px;
	line-height: 54px;
	margin-right: 10px;
	text-align: center;
}
.select_list li > select{
	width: 160px;
	height: 27px;
	color: #888;
	border: 0px;
	background-image: url("../../images/mallPage/down_arrow.png");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow:none !important;
    
    appearance: none;
    -o-appearance: none;
	-webkit-appearance: none;
    -ms-appearance: none;
}
.select_list li > select::-ms-expand{
	display: none;
} 
.select_list li:nth-child(1){
	font-weight: bold;
	color: white;
	width: auto;
}
.select_list li:nth-child(6){
	width: 98px;
}
.select_list li:nth-child(6) img{
	vertical-align: middle;
}
#mall_middle_container{
	width: 960px;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
}
/* 좌측 사이드바 영역 */
#middle_sidebar_container{
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #c0c0c0;
	width: 200px;
	height: 1047px;
}
#tab_btn{
	overflow:hidden;
	display: block;
	margin-top: 20px;
	width: 200px;
	height: 34px;
	padding: 0px;
	text-align: center;	
}
#tab_btn img{	
	vertical-align: top;
	margin-left: 0px;
}
#gas_tab{
	overflow: hidden;
	width: 160px;
	height: auto;
}
#gas_in_1{
	display: block;
	margin-top: 20px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;	
}
#gas_in_1 label span{
	display:block;
	font-size: 10px;
	line-height: 12px;
	color: #777;
}
#gas_in_2{
	display: block;
	margin-top: 20px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;
	font-size: 12px;
}
#gas_in_2 ul li ul.nanbang{
	margin-top: 10px;
	width: 160px;
	height: auto;
	background-color: #ededed;
	border: 1px solid #c0c0c0; 
	padding-left: 18px;
}
#gas_in_2 ul li ul.nanbang li{
	font-size: 10px;
	/* height: 20px;  layout 찌그러짐 */
}
#gas_in_2 ul li ul.nanbang li sup{
	border: 1px solid red;
}
#gas_in_3{
	display: block;
	margin-top: 20px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;
}
#gas_in_3 ul.position{
	overflow: hidden;
	width: 160px;
	height: 90px;
	font-size: 9px;
}
#gas_in_3 ul.position li{
	float: left;
	width: 50%;
	height: 90px;
	border: 1px solid red;
}
#gas_in_3 ul.position li span{
	display: block;
	font-size: 10px;
	font-weight: bold;
}
#gas_in_4{
	display: block;
	margin-top: 20px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;
}
/* 우측 상품리스트 영역 */
#product_list_container{
	float: left;
	margin-left: 40px;
	border: 1px solid red;
	width: 720px;
	height: 1047px;
}





















