@charset "UTF-8";
@font-face{
	font-family: 'Daum_Regular';
	src: local('Daum_Regular'), 
		url('../../font/Daum_Regular.otf') format('opentruefype'),
		url('../../font/Daum_Regular.ttf') format('truetype');
}
*{margin: 0px; padding: 0px; list-style: none; box-sizing: border-box;margin: 0px auto;color: #454545;}
a{text-decoration: none; color: inherit; line-height: inherit;}
body{
	font-family: 'Daum_Reqular', sans-serif;
}
/* clome, safari */
::-webkit-input-placeholder {
	color:#fff;
    font-size: 8px;
    text-indent: 10px;
}
/* ms 10~11 */
:-ms-input-placeholder{
	color: #ffffff;
    font-size: 8px;
    text-indent: 10px;
}
/* ms edge */
::-ms-input-placeholder{
	color: #ffffff;
    font-size: 8px;
    text-indent: 10px;
}
/* FireFox */
::-moz-placeholder {
    color: #fff;
    font-size: 8px;
    text-indent: 10px;
}
::-o-placeholder {
    color: #fff;
    font-size: 8px;
    text-indent: 10px;
}
::placeholder {
    color: #fff;
    font-size: 8px;
    text-indent: 10px;
}
a{
	text-decoration: none;
}
#container{
	width: 960px;
	height: auto;
	margin: 0px auto;
	padding-top: 50px;
}
#header{
	overflow:hidden;
	width: 960px;
	height: 64px;
}
#logo{
	float:left;
	text-indent: -9999px;
	background-image: url("../../images/mainPage/kyungDong_logo.png");
	background-repeat: no-repeat;
	width: 230px;
	height: 60px;
	margin-top: 2px;
}
#header_right{
	float: right;
	width:730px;
	height: 64px;
}
#login_container{
	float:left;
	margin-left:60px;
	width: auto;
	height: 24px;
	font-size: 10px;
}
.login_list{
	line-height: 24px;
}
.login_list a{
	color: #a9a9a9;
}
.login_list li{
	float:left;
	width: auto;
	height: 24px;
	padding-right: 5px;
}
.login_list > .login{
	background:url("../../images/mainPage/top_public_login.png") no-repeat left;
	padding: 0px 10px 0px 15px;
	line-height: 20px;
}
.login_list > .orange_dot{
	background:url("../../images/mainPage/top_public_dot.png") no-repeat left;
	padding: 0px 10px 0px 15px;
	line-height: 20px;
}
.login_list > .partner{
	background:url("../../images/mainPage/top_public_partner.png") no-repeat left;
	padding: 0px 10px 0px 20px;
	line-height: 20px;
}
.login_list > .language{
	background:url("../../images/mainPage/top_public_language.png") no-repeat left;
	padding: 0px 10px 0px 20px;
	line-height: 20px;
}
#recruit_container{
	float: right;
	width: auto;
	height: 24px;
	margin-left:10px;
	font-size: 12px;
}
.recruit_list{
	line-height: 24px;
}
.recruit_list a{
	color: orange;
}
.recruit_list li{
	float: left;
	height: 24px;
	margin-left: 10px;
}
.recruit_list li:first-child {
	border: 1px solid #d4d4d4;
	padding-left: 5px;
	padding-right: 7px; 
	border-radius: 3px;
	color: #f97b0b;
	line-height: 20px;
}
.recruit_list img{
	margin-left: 10px;
	vertical-align: middle;
}
.recruit_list select{
	height: 25px;
	border-radius: 3px;
}
#menu_container{
	clear: both;
	margin-top: 40px;
	width: auto;	
}
.menu_list li{
	float:left;
	width: auto;;
}
.menu_list li:nth-child(2n){
	color: #dbdbdb;
}
.menu_list h3{
	color: #303030;
	padding: 0px 20px 0px 20px;
}
#search_container{
	float: right;
	height: 24px;
	background: #f97b0b;
}
#search_container input{
	width: 190px;
	height: 24px;
	background: #f97b0b;
	border-style: none;
	vertical-align: middle;
}
#search_container img{
	margin-right: 5px;
	vertical-align: middle;
}
/* 이하 콘텐츠 영역  */
/* mall 공통 checkbox / radio */
input[type=checkbox]:not(old){
	opacity:0;
	background:url(../../images/mallPage/checkbox_in_checked.png) no-repeat 0 0;
	width: 0;
}
input[type=checkbox]:not(old) + label {
	text-align: left; 
	/* height: 20px; */ 
	padding-left: 18px;
	background: url("../../images/mallPage/checkbox.png") no-repeat 0 0;
	/* line-height: 130%; */
	vertical-align: text-bottom;
}
input[type=checkbox]:not(old):checked + label {
	background: url("../../images/mallPage/checkbox_in_checked.png") no-repeat 0 0;
}

input[type=radio]:not(old){
	opacity:0;
	background:url(../../images/mallPage/radiobutton_on.png) no-repeat 0 0;
	width: 0;
}
input[type=radio]:not(old) + label {
	text-align: left; 
	/* height: 20px; */ 
	padding-left: 18px;
	background: url("../../images/mallPage/radiobutton_off.png") no-repeat 0 0;
	/* line-height: 130%; */ 
	vertical-align: center;
	
}
input[type=radio]:not(old):checked + label {
	background: url("../../images/mallPage/radiobutton_on.png") no-repeat 0 0;
}
/* mall 공통 checkbox / radio 끝 */
#content{
	overflow: hidden;
	width: 960px;
	height: auto;	
	margin-top: 45px;
	margin-bottom:200px;
}
#content{
	overflow: hidden;
	width: 960px;
	height: auto;	
	margin-top: 45px;
}
#site_path_container{
	overflow: hidden;
	width: 960px;
	height: 30px;
	padding-bottom: 40px;
	margin-bottom:50px;
	border-bottom: 1px solid #969696;
}
.site_path_list{
	float: left;
	width: 960px;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #696969;
}
.site_path_list li{
	float: left;
	width: auto;
	margin-right:10px;
}
#product_intro_container{
	width: 960px;
	height: auto;
	overflow: hidden;
}
#headerText_container{
	width: 960px;
	height: auto;
}
#headerText_container h1{
	float: left;
	margin: 0px 10px 20px 0px;
	color: #696969;
}
#headerText_container h6{
	padding-top: 25px;
	color: #696969;
}
#intro_img{
	width: 960px;
	height: 387px;
}
#selection_container{
	width: 960px;
	height: 54px;
	background: #a29f9b;
}
.select_list{
	width:auto;
	height: 54px;
	margin-left: 50px;
}
.select_list li{
	float: left;
	width: 160px;
	height:27px;
	line-height: 54px;
	margin-right: 10px;
	text-align: center;
}
.select_list li > select{
	width: 160px;
	height: 27px;
	color: #888;
	border: 0px;
	background-image: url("../../images/mallPage/down_arrow.png");
	background-repeat: no-repeat;
	background-position: 90% 50%;
	
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow:none !important;
    
    appearance: none;
    -o-appearance: none;
	-webkit-appearance: none;
    -ms-appearance: none;
}
.select_list li > select::-ms-expand{
	display: none;
} 
.select_list li:nth-child(1){
	font-weight: bold;
	color: white;
	width: auto;
}
.select_list li:nth-child(6){
	width: 98px;
}
.select_list li:nth-child(6) img{
	vertical-align: middle;
}
#mall_middle_container{
	width: 960px;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
}
/* 좌측 사이드바 영역 */
#middle_sidebar_container{
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #c0c0c0;
	width: 200px;
	height: 1047px;
}
#tab_btn{
	overflow:hidden;
	display: block;
	margin-top: 20px;
	width: 200px;
	height: 34px;
	padding: 0px;
	text-align: center;	
}
#tab_btn img{	
	vertical-align: top;
	margin-left: 0px;
}
#gas_tab{
	overflow: hidden;
	width: 160px;
	height: auto;
}
#gas_in_1{
	display: block;
	margin-top: 20px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;	
}
#gas_in_1 label span{
	display:block;
	font-size: 10px;
	line-height: 12px;
	color: #777;
	padding-left: 20px;
	margin-bottom: 10px;
}
#gas_in_2{
	display: block;
	margin-top: 20px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;
	font-size: 12px;
}
#gas_in_2 ul li ul.nanbang{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 160px;
	height: auto;
	background-color: #ededed;
	border: 1px solid #c0c0c0;
	padding: 15px;
}
#gas_in_2 ul li ul.nanbang li{
	font-size: 10px;
	height: 20px;
}
#gas_in_2 ul li ul.nanbang li sup{
	font-size: 5px;
}
#gas_in_3{
	display: block;
	margin-top: 10px;
	border-bottom: 1px dashed #c0c0c0;
	padding-bottom: 20px;
}
#gas_in_3 ul.position{
	width: 160px;
	height: 90px;
	font-size: 9px;
}
#gas_in_3 ul.position li{
	float: left;
	height: 90px;
}
#gas_in_3 ul.position li:nth-child(1){
	width: 70px;
	margin-right: 10px;
}
#gas_in_3 ul.position li:nth-child(2){
	width: 80px;
}
#gas_in_3 ul.position li label{
	display: table-cell;
	height: 90px;
	vertical-align: top;	
}
#gas_in_3 ul.position li img{
	padding-right: 10px;
}
#gas_in_3 ul.position li span{
	display: block;
	font-size: 10px;
}
#gas_in_4{
	display: block;
	margin-top: 20px;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 20px;
}
#gas_in_4 ul.temperature{
	margin-top: 10px;
}
#gas_in_4 ul.temperature  li span{
	position: relative; 
	-webkit-top: -4px;
	top:-2px; /* 익스 및 크롬에서 적용되는데에 차이를 보임 */
	font-size: 10px;
}
#middle_sidebar_container > #side_btn_container{
	margin-top: 20px;
	text-align: center;
}
/* 우측 상품리스트 영역 */
#product_list_container{
	overflow: hidden;
	float: left;
	margin-left: 40px;
	width: 720px;
	height: auto;
}
#product_list_container > p{
	font-size: 13px;
	float: left;
	height: 23px;	
}
#product_list_container > p span.sch_cnt{
	color: #f97b0b;
	font-size: 15px;
	font-weight: bold;
	line-height: 23px;
}
#product_list_container > ul.question_icon{
	float: right;
	width:  auto;
	height: 23px;
	margin-bottom: 10px;
}
#product_list_container > ul.question_icon li{
	float: left;
	line-height: 23px;
	margin-left: 5px;
	font-size: 11px;
}
#product_list_container > ul.question_icon li:nth-child(1) {
	margin-right: 10px;	
}
#product_list_container > ul.question_icon li:nth-child(1) img{
	vertical-align: middle;	
}
#product_list_container > ul.product_list{
	clear: both;
	padding-bottom: 10px;
	border-top: 1px solid #c0c0c0;
}
#product_list_container > ul.product_list li.row_effect{
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c0c0c0;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols{
	float: left;
	width: 240px;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#check_btn {
	margin-bottom: 15px;
	height: 23px;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#check_btn .chk_text{
	position: relative;
	-webkit-top:-4px; 
	top: -2px; 	/* 익스 및 크롬에서 적용되는데에 차이를 보임 */
	font-size: 12px;
	height: 23px;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#product_img {
	width: 180px;
	height: 150px;
	text-align: center;
	margin-bottom: 20px;
	vertical-align: top;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#product_info { 	
	text-align: center;
	font-size: 12px;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#product_info ul.info_list {
	width: auto;
	height: 18px;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#product_info ul.info_list li {
	display: inline;
}
#product_list_container > ul.product_list li.row_effect > ul.row li.cols > div#product_info .detailView_img {
	clear: both;
}
#paging_container{
	overflow: hidden;
	margin: 0px auto;
	height: 25px;
	text-align: center;
}
#paging_container > ul.paging_list{
	float: left;
	width: 86%;
	height: 20px;
	text-align: center;
	margin-left: 7%;
}
/* 클래스 nowPage에 대한 스타일 */
#paging_container > ul.paging_list li.nowPage {
	color: #f97b0b;
}
#paging_container > ul.paging_list li.boundary_left{
	margin-right: 10px;
}
#paging_container > ul.paging_list li.boundary_right{
	margin-left: 10px;
}
#paging_container > ul.paging_list li{
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #929292;
}
#paging_container > ul.paging_list li img{
	vertical-align: middle;
}
#paging_container > .totalPage{
	float: right;
	width: 7%;
	font-size: 14px;
	font-weight: bold;
	color: #929292;
}
#paging_container .nowPage{
	font-size: 14px;
	color: #f97b0b;
}
/* 이하 푸터 영역 */
#footer{
	width: 960px;
	height: auto;
	margin: 0px auto;
}
#footer_top_container{
	width: 960px;
	height: 60px;
	background: #eee;
	border-top: 1px solid #b7b7b7;
	border-bottom: 5px solid #7b7b7b;
	overflow: hidden;
}
.global_network_list{
	line-height: 60px;
}
.global_network_list a{
	color: #4c4c4c;
}
.global_network_list li{
	float: left;
	font-size: 10px;
	padding-left: 10px;
	color: #b5b5b5;
}
.sns_list{
	line-height: 60px;
	margin-left: 30px;
}
.sns_list li:first-child{
	margin-left: 50px;
}
.sns_list li{
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
#family_container{
	float: right;
	line-height: 60px;
	margin-right: 20px;
}
#family_container select{
	width: 130px;
}
#footer_bottom{
	overflow:hidden;
	width: 960px;
	height: auto;
	padding-top: 20px;
}
#footer_bottom_left{
	float: left;
	display:block;
	width: 880px;
	height: auto;
}
.bottom_icon_list{
	width: auto;
	height: 40px;
	margin-bottom: 20px;
}
.bottom_icon_list li{
	float:left;
	width:auto;
	height:40px;
}
.bottom_icon_list li:nth-child(2n){
	width:75px;
	padding-left: 10px;
	font-size: 7px;
}
.bottom_icon_list li:nth-child(13){
	padding-left: 25px;
}
#footer_bottom_logo{
	float:left;
	width:151px;
	height:30px;
	background-image: url("../../images/mainPage/footer_logo.png");
	background-repeat:no-repeat;
	background-position:center;
	margin-right: 20px;
}
.addr_top_list {
	float:left;
	width: auto;
}
.addr_top_list li{
	float: left;
	font-size: 7px;
}
.addr_top_list li:nth-child(2n){
	padding: 0px 10px 0px 10px;
}
.addr_bottom_list {
	float:left;
	width: auto;
}
.addr_bottom_list li{
	float: left;
	font-size: 7px;
}
.addr_bottom_list li:nth-child(2n){
	padding: 0px 10px 0px 10px;
}
#qr_code{
	float: right;
	width: 76px;
	height: 74px;
	display: block;
	background-image: url("../../images/mainPage/footer_qrcode.png");
}
